#img {
    height: 350px;
}

#header {
    max-width: 10%;
    height: auto;
    background-color: rgb(0, 225, 255);
}

#main_title {
    font-size: 35px;
}

table,
th,
td {
    border: 1px skyblue
}

table {
    border-collapse: collapse;
    width: 90%;
}